<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <connectionStrings>
    <add name="TenantRegistry" connectionString="Data Source=.\;Initial Catalog=MultiTenantAuthentication.TenantRegistry;Integrated Security=True" />
    <add name="TenantRegistryModel" connectionString="metadata=res://*/Models.MultiTenantModel.csdl|res://*/Models.MultiTenantModel.ssdl|res://*/Models.MultiTenantModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\;Initial Catalog=MultiTenantAuthentication.TenantRegistry;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="TenantRegistryEntities" connectionString="metadata=res://*/Models.TenantRegistryModel.csdl|res://*/Models.TenantRegistryModel.ssdl|res://*/Models.TenantRegistryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\;Initial Catalog=MultiTenantAuthentication.TenantRegistry;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="AppDBEntities" connectionString="metadata=res://*/Models.AppDBModel.csdl|res://*/Models.AppDBModel.ssdl|res://*/Models.AppDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\;Initial Catalog=MultiTenantAuthentication.DB1;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="DB1" connectionString="metadata=res://*/Models.AppDBModel.csdl|res://*/Models.AppDBModel.ssdl|res://*/Models.AppDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\;Initial Catalog=MultiTenantAuthentication.DB1;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="DB2" connectionString="metadata=res://*/Models.AppDBModel.csdl|res://*/Models.AppDBModel.ssdl|res://*/Models.AppDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\;Initial Catalog=MultiTenantAuthentication.DB2;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="NewTenantDatabaseName" value ="MultiTenantAuthentication.DB2"/>
    <add key="NewTenantConnectionString" value ="DB2"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <membership defaultProvider="SqlProvider">
      <providers>
        <add connectionStringName="TenantRegistry"
             applicationName="/"
             name="SqlProvider"
             type="System.Web.Security.SqlMembershipProvider"
             enablePasswordRetrieval="false"
            enablePasswordReset="true"
            requiresQuestionAndAnswer="false"
            requiresUniqueEmail="true"
            minRequiredPasswordLength="1"
            minRequiredNonalphanumericCharacters="0"
            passwordFormat="Hashed"
            maxInvalidPasswordAttempts="5"
            passwordAttemptWindow="10"
            passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />

        <remove name="AspNetSqlProvider" />
        <remove name="SqlProfileProvider" />
        <add name="SqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="TenantRegistry" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="TenantRegistry" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>